.logo-apple-large {
  background-color: #ffffff;
  border: 2px #808080 dotted;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.logo-apple-large div {
  position: absolute;
}
.logo-apple-large .blue-curve-left {
  background-color: #009cdc;
  -webkit-border-radius: 0 0 50% 50%;
  -moz-border-radius: 0 0 50% 50%;
  -ms-border-radius: 0 0 50% 50%;
  -o-border-radius: 0 0 50% 50%;
  border-radius: 0 0 50% 50%;
  width: 47px;
  height: 30px;
  left: 89px;
  top: 209px;
}
.logo-apple-large .blue-curve-right {
  background-color: #009cdc;
  -webkit-border-radius: 0 0 50% 50%;
  -moz-border-radius: 0 0 50% 50%;
  -ms-border-radius: 0 0 50% 50%;
  -o-border-radius: 0 0 50% 50%;
  border-radius: 0 0 50% 50%;
  width: 47px;
  height: 30px;
  left: 162px;
  top: 209px;
}
.logo-apple-large .blue {
  background-color: #009cdc;
  width: 152px;
  height: 26px;
  left: 73px;
  top: 209px;
}
.logo-apple-large .blue-none {
  background-color: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 50px;
  height: 19px;
  left: 124px;
  top: 231px;
}
.logo-apple-large .purple {
  background-color: #963d97;
  width: 182px;
  height: 28px;
  left: 59px;
  top: 185px;
}
.logo-apple-large .red {
  background-color: #e13a3d;
  width: 190px;
  height: 25px;
  left: 51px;
  top: 163px;
}
.logo-apple-large .orange {
  background-color: #f6832c;
  width: 162px;
  height: 30px;
  left: 52px;
  top: 135px;
}
.logo-apple-large .orange-curve {
  background-color: #f6832c;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 6px;
  height: 40px;
  left: 50px;
  top: 129px;
}
.logo-apple-large .yellow {
  background-color: #fcb83e;
  width: 178px;
  height: 28px;
  left: 49px;
  top: 109px;
}
.logo-apple-large .green-curve-left {
  background-color: #61bc48;
  -webkit-border-radius: 50% 50% 0 0;
  -moz-border-radius: 50% 50% 0 0;
  -ms-border-radius: 50% 50% 0 0;
  -o-border-radius: 50% 50% 0 0;
  border-radius: 50% 50% 0 0;
  width: 55px;
  height: 22px;
  left: 80px;
  top: 87px;
}
.logo-apple-large .green-curve-right {
  background-color: #61bc48;
  -webkit-border-radius: 50% 50% 0 0;
  -moz-border-radius: 50% 50% 0 0;
  -ms-border-radius: 50% 50% 0 0;
  -o-border-radius: 50% 50% 0 0;
  border-radius: 50% 50% 0 0;
  width: 55px;
  height: 22px;
  left: 163px;
  top: 87px;
}
.logo-apple-large .green {
  background-color: #61bc48;
  width: 176px;
  height: 21px;
  left: 59px;
  top: 91px;
}
.logo-apple-large .green-none {
  background-color: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 46px;
  height: 16px;
  left: 126px;
  top: 79px;
}
.logo-apple-large .green-leaf {
  -webkit-border-radius: 100% 0 100% 0;
  -moz-border-radius: 100% 0 100% 0;
  -ms-border-radius: 100% 0 100% 0;
  -o-border-radius: 100% 0 100% 0;
  border-radius: 100% 0 100% 0;
  background-color: #61bc48;
  width: 47px;
  height: 49px;
  top: 40px;
  left: 141px;
}
.logo-apple-large .bottom-left-none {
  background-color: transparent;
  background-image: -moz-radial-gradient(100% 0, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: -o-radial-gradient(100% 0, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: -webkit-radial-gradient(100% 0, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: radial-gradient(at top right, rgba(0,0,0,0) 70%, #ffffff 0);
  width: 76px;
  height: 135px;
  left: 44px;
  top: 108px;
}
.logo-apple-large .bottom-right-none {
  background-color: transparent;
  background-image: -moz-radial-gradient(0 0, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: -o-radial-gradient(0 0, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: -webkit-radial-gradient(0 0, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: radial-gradient(at top left, rgba(0,0,0,0) 70%, #ffffff 0);
  width: 79px;
  height: 137px;
  left: 177px;
  top: 106px;
}
.logo-apple-large .top-left-none {
  background-color: transparent;
  background-image: -moz-radial-gradient(100% 100%, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: -o-radial-gradient(100% 100%, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: -webkit-radial-gradient(100% 100%, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: radial-gradient(at bottom right, rgba(0,0,0,0) 70%, #ffffff 0);
  width: 58px;
  height: 62px;
  left: 49px;
  top: 86px;
}
.logo-apple-large .top-right-none {
  background-color: transparent;
  background-image: -moz-radial-gradient(0 100%, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: -o-radial-gradient(0 100%, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: -webkit-radial-gradient(0 100%, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: radial-gradient(at bottom left, rgba(0,0,0,0) 70%, #ffffff 0);
  width: 58px;
  height: 62px;
  left: 191px;
  top: 86px;
}
.logo-apple-large .apple-none {
  background-color: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 83px;
  height: 83px;
  left: 209px;
  top: 104px;
}
.logo-apple-small {
  background-color: #ffffff;
  border: 2px #808080 dotted;
  width: 52px;
  height: 52px;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
  border-radius: 26px;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.logo-apple-small div {
  position: absolute;
}
.logo-apple-small .blue-curve-left {
  background-color: #009cdc;
  -webkit-border-radius: 0 0 50% 50%;
  -moz-border-radius: 0 0 50% 50%;
  -ms-border-radius: 0 0 50% 50%;
  -o-border-radius: 0 0 50% 50%;
  border-radius: 0 0 50% 50%;
  width: 8.146666666666667px;
  height: 5.2px;
  left: 15.426666666666668px;
  top: 36.22666666666667px;
}
.logo-apple-small .blue-curve-right {
  background-color: #009cdc;
  -webkit-border-radius: 0 0 50% 50%;
  -moz-border-radius: 0 0 50% 50%;
  -ms-border-radius: 0 0 50% 50%;
  -o-border-radius: 0 0 50% 50%;
  border-radius: 0 0 50% 50%;
  width: 8.146666666666667px;
  height: 5.2px;
  left: 28.080000000000002px;
  top: 36.22666666666667px;
}
.logo-apple-small .blue {
  background-color: #009cdc;
  width: 26.346666666666668px;
  height: 4.506666666666667px;
  left: 12.653333333333334px;
  top: 36.22666666666667px;
}
.logo-apple-small .blue-none {
  background-color: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 8.666666666666668px;
  height: 3.2933333333333334px;
  left: 21.493333333333332px;
  top: 40.04px;
}
.logo-apple-small .purple {
  background-color: #963d97;
  width: 31.546666666666667px;
  height: 4.8533333333333335px;
  left: 10.226666666666667px;
  top: 32.06666666666667px;
}
.logo-apple-small .red {
  background-color: #e13a3d;
  width: 32.93333333333334px;
  height: 4.333333333333334px;
  left: 8.84px;
  top: 28.253333333333334px;
}
.logo-apple-small .orange {
  background-color: #f6832c;
  width: 28.080000000000002px;
  height: 5.2px;
  left: 9.013333333333334px;
  top: 23.400000000000002px;
}
.logo-apple-small .orange-curve {
  background-color: #f6832c;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 1.04px;
  height: 6.933333333333334px;
  left: 8.666666666666668px;
  top: 22.36px;
}
.logo-apple-small .yellow {
  background-color: #fcb83e;
  width: 30.853333333333335px;
  height: 4.8533333333333335px;
  left: 8.493333333333334px;
  top: 18.893333333333334px;
}
.logo-apple-small .green-curve-left {
  background-color: #61bc48;
  -webkit-border-radius: 50% 50% 0 0;
  -moz-border-radius: 50% 50% 0 0;
  -ms-border-radius: 50% 50% 0 0;
  -o-border-radius: 50% 50% 0 0;
  border-radius: 50% 50% 0 0;
  width: 9.533333333333333px;
  height: 3.8133333333333335px;
  left: 13.866666666666667px;
  top: 15.08px;
}
.logo-apple-small .green-curve-right {
  background-color: #61bc48;
  -webkit-border-radius: 50% 50% 0 0;
  -moz-border-radius: 50% 50% 0 0;
  -ms-border-radius: 50% 50% 0 0;
  -o-border-radius: 50% 50% 0 0;
  border-radius: 50% 50% 0 0;
  width: 9.533333333333333px;
  height: 3.8133333333333335px;
  left: 28.253333333333334px;
  top: 15.08px;
}
.logo-apple-small .green {
  background-color: #61bc48;
  width: 30.506666666666668px;
  height: 3.64px;
  left: 10.226666666666667px;
  top: 15.773333333333333px;
}
.logo-apple-small .green-none {
  background-color: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 7.973333333333334px;
  height: 2.7733333333333334px;
  left: 21.84px;
  top: 13.693333333333333px;
}
.logo-apple-small .green-leaf {
  -webkit-border-radius: 100% 0 100% 0;
  -moz-border-radius: 100% 0 100% 0;
  -ms-border-radius: 100% 0 100% 0;
  -o-border-radius: 100% 0 100% 0;
  border-radius: 100% 0 100% 0;
  background-color: #61bc48;
  width: 8.146666666666667px;
  height: 8.493333333333334px;
  top: 6.933333333333334px;
  left: 24.44px;
}
.logo-apple-small .bottom-left-none {
  background-color: transparent;
  background-image: -moz-radial-gradient(100% 0, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: -o-radial-gradient(100% 0, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: -webkit-radial-gradient(100% 0, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: radial-gradient(at top right, rgba(0,0,0,0) 70%, #ffffff 0);
  width: 13.173333333333334px;
  height: 23.400000000000002px;
  left: 7.626666666666667px;
  top: 18.72px;
}
.logo-apple-small .bottom-right-none {
  background-color: transparent;
  background-image: -moz-radial-gradient(0 0, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: -o-radial-gradient(0 0, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: -webkit-radial-gradient(0 0, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: radial-gradient(at top left, rgba(0,0,0,0) 70%, #ffffff 0);
  width: 13.693333333333333px;
  height: 23.746666666666666px;
  left: 30.68px;
  top: 18.373333333333335px;
}
.logo-apple-small .top-left-none {
  background-color: transparent;
  background-image: -moz-radial-gradient(100% 100%, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: -o-radial-gradient(100% 100%, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: -webkit-radial-gradient(100% 100%, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: radial-gradient(at bottom right, rgba(0,0,0,0) 70%, #ffffff 0);
  width: 10.053333333333335px;
  height: 10.746666666666666px;
  left: 8.493333333333334px;
  top: 14.906666666666666px;
}
.logo-apple-small .top-right-none {
  background-color: transparent;
  background-image: -moz-radial-gradient(0 100%, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: -o-radial-gradient(0 100%, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: -webkit-radial-gradient(0 100%, ellipse, rgba(0,0,0,0) 70%, #ffffff 0);
  background-image: radial-gradient(at bottom left, rgba(0,0,0,0) 70%, #ffffff 0);
  width: 10.053333333333335px;
  height: 10.746666666666666px;
  left: 33.10666666666667px;
  top: 14.906666666666666px;
}
.logo-apple-small .apple-none {
  background-color: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  width: 14.386666666666667px;
  height: 14.386666666666667px;
  left: 36.22666666666667px;
  top: 18.026666666666667px;
}
